:root {
    --animate-delay: 0.5s;
  }
.nav-link{
    border-bottom: 0;
    transition: border-bottom 0.2s ease-in 0s;
}
.nav-link:hover{
    border-bottom: 2px solid #0CCA98;
}

.ball{
    position: absolute;
    left: 25%;
    bottom: 10%;
}

.ball2{
    position: absolute;
    top: 50px;
    left: 200px;
}

.ball3{
    position: absolute;
    top: 300px;
    right: 50%;
}

.ball4{
    position: absolute;
    bottom: 50px;
    right: 200px;
}

.ball5{
    position: absolute;
    top: 50%;
    left: 200px;
}

.ball6{
    position: absolute;
    top: 200px;
    right: 200px;
}


.project-card{
    height: 215px;
    position: relative;
    background-color: #fff;
    margin:30px 10px ;
    padding:20px 15px;
    flex-direction: column;
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    width:100%;
}

.project-card:hover{
    height: 420px;
}

.imgBx{
    position: relative;
    width: 80%;
    top: -60px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
    background: transparent;
}

.project-card:hover> .imgBx{
    top: -100px;
}

.imgBx > img {
    max-width: 100%;
    border-radius: 4px;
}

.project-card > .content{
    position: relative;
    margin-top:-140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.project-card:hover > .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
